In [177]:
import pandas as pd
import numpy as np

In [179]:
df = pd.read_csv('BostonHousing.csv')

In [181]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [183]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         5
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [185]:
df['rm'] = df['rm'].fillna(df['rm'].mean())

In [187]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [189]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train,X_test,y_train,y_test = train_test_split(df.drop('medv',axis = 1),df['medv'],test_size=0.2,random_state = 0)

In [191]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [193]:
X_train_scaled = pd.DataFrame(X_train_scaled)
X_test_scaled = pd.DataFrame(X_test_scaled)

In [195]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr_scaled = LinearRegression()
lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)
y_pred = lr.predict(X_test)
y_pred_scaled = lr_scaled.predict(X_test_scaled)

In [197]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mae_scaled = mean_absolute_error(y_test, y_pred_scaled)
mse_scaled = mean_squared_error(y_test, y_pred_scaled)
r2_scaled = r2_score(y_test, y_pred_scaled)

print("Original Data - MAE:", mae, ", MSE:", mse, ", R2 Score:", r2)
print("Scaled Data - MAE:", mae_scaled, ", MSE:", mse_scaled, ", R2 Score:", r2_scaled)

Original Data - MAE: 3.8442125146196027 , MSE: 33.46497598891447 , R2 Score: 0.5890259426012641
Scaled Data - MAE: 3.8442125146195916 , MSE: 33.46497598891445 , R2 Score: 0.5890259426012642

In [199]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import FunctionTransformer

# Load your dataset (replace with actual data loading)
# df = pd.read_csv('your_data.csv')
# X = df.drop('medv', axis=1)
# y = df['medv']

# Split the dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(df.drop('medv', axis=1), df['medv'], test_size=0.2, random_state=42)

# Define a custom transformation function
def log_transform(X):
    return np.log1p(X)

# Create a FunctionTransformer instance
transformer = FunctionTransformer(func=log_transform, validate=True)

# Fit and transform the training data
X_train_transformed = transformer.fit_transform(X_train)

# Transform the test data
X_test_transformed = transformer.transform(X_test)

# Creating DataFrames for scaled data (optional)
X_train_scaled = pd.DataFrame(X_train_transformed, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_transformed, columns=X_test.columns)

# Train a model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("MAE:", mae, ", MSE:", mse, ", R2 Score:", r2)

MAE: 2.9392827464922404 , MSE: 18.518565635008187 , R2 Score: 0.7474756539626117

In [241]:
import numpy as np
import pandas as pd

def predict_house_price(model):
    print("Enter the features of the house:")
    
    
    CRIM = float(input("Crime rate (per capita): "))                   
    ZN = float(input("Proportion of residential land zoned for lots over 25,000 sq. ft.: "))   
    INDUS = float(input("Proportion of non-retail business acres per town: "))   
    CHAS = int(input("Charles River dummy variable (1 if tract bounds river; 0 otherwise): "))  
    NOX = float(input("Nitric oxides concentration (parts per 10 million): "))   
    RM = float(input("Average number of rooms per dwelling: "))             
    AGE = float(input("Proportion of owner-occupied units built prior to 1940: "))   
    DIS = float(input("Weighted distances to five Boston employment centers: "))  
    RAD = int(input("Index of accessibility to radial highways (1-24): "))   
    TAX = float(input("Full-value property tax rate per $10,000: "))       
    PTRATIO = float(input("Pupil-teacher ratio by town: "))               
    B = float(input("Black population proportion (in 1000s): "))          
    LSTAT = float(input("Percentage of lower status of the population: "))  

    
    input_data = pd.DataFrame({
        'crim': [CRIM],   
        'zn': [ZN],
        'indus': [INDUS],
        'chas': [CHAS],   
        'nox': [NOX],
        'rm': [RM],
        'age': [AGE],
        'dis': [DIS],
        'rad': [RAD],
        'tax': [TAX],
        'ptratio': [PTRATIO],
        'b': [B],
        'lstat': [LSTAT]
    })

    
    predicted_price = model.predict(input_data)  

    print(f"Predicted price of the house: ${predicted_price[0]:,.2f}")

In [243]:
predict_house_price(model)

Enter the features of the house:

Crime rate (per capita):  0.1
Proportion of residential land zoned for lots over 25,000 sq. ft.:  0
Proportion of non-retail business acres per town:  6
Charles River dummy variable (1 if tract bounds river; 0 otherwise):  0
Nitric oxides concentration (parts per 10 million):  0.5
Average number of rooms per dwelling:  6.5
Proportion of owner-occupied units built prior to 1940:  40
Weighted distances to five Boston employment centers:  5
Index of accessibility to radial highways (1-24):  4
Full-value property tax rate per $10,000:  300
Pupil-teacher ratio by town:  16
Black population proportion (in 1000s):  369
Percentage of lower status of the population:  8

Predicted price of the house: $-747.26